body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}

h2, h3 {
    color: #5656e6;
}

select, input, button {
    background-color: #333;
    color: #fff;
    border: 1px solid #5656e6;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
    padding: 10px 15px;
}

button:hover {
    background-color: #5656e6;
    color: #000;
}

#tickerContainer {
    margin: 10px auto;
    max-width: 400px;
}

canvas {
    background: #222;
}

.link-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background: #5656e6;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.link-button:hover {
    background: rgb(18, 2, 85);
}

.link-button i {
    margin-right: 5px;
}

#savedTickers {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    justify-content: space-between;
    background: #f4f4f4;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

ul li button {
    background: #5656e6;
    color: white;
    border: none;
    cursor: pointer;
}

